[submodule "external/pgvector"]
	path = external/pgvector
	url = https://github.com/pgvector/pgvector
[submodule "external/pg_embedded"]
	path = external/pg_embedded
	url = https://github.com/neondatabase/pg_embedding
[submodule "external/lantern"]
	path = external/lantern
	url = https://github.com/lanterndata/lantern
[submodule "external/imgsmlr"]
	path = external/imgsmlr
	url = https://github.com/postgrespro/imgsmlr
